#logo{
  border: 7px solid green;
  width:500px;
  margin: 0 auto;
  text-align: center;

}
.personalmessage{
  text-align: right;
}
.othermessage{
  text-align: left;
}

.ListofChats{
  height:80%;
  background-color:white;
  border: 15px solid aqua;
  border-radius:2px;
}

.Messagebar{
position: relative;
padding: 30px;
left: 200px;
width:1000px;
height: 40rem;
}
.Messagesender{
 position:absolute;
 bottom:50px;
 width:700px;
 text-align: center;
 left: 200px;
}

#send-btn{
  font-size:20px;
  color: rgb(220,220,220);
  padding: 10px 20px;
  border-radius: 15px;
  transition-duration: 0.4s;
  border:none;
  cursor: pointer;
  background: rgb(100, 149, 237);
  margin-left:60px;
  width:80px;
  height:60px;

}
#sendMsgBtn.hover{
  background-color:white;
  color:white;
}

.input_msg{
 width: 50%;
 padding: 0.75rem;
 box-sizing: border-box;
 border-radius: var(--border-radius);
 border: 1px solid #dddddd;
 outline: none;
 background: eeeeee;
 transition: background 0.2s, border-color 0.2s;
 text-align:left;
}

#addserver-btn {
  font-size:20px; 
  color:black; 
  padding: 10px 10px; 
  border-radius: 12px;
  transition-duration: 0.4s;
}

#addserver-btn:hover{
  background-color: black;
  color: white;
}

#signupChecker{
  text-align: center;
}
body{
 --color-primary: #009579;
 --color-primary-dark: #007f67;
 --color-error: #cc3333;
 --color-success: #4bb544;
 --border-radius: 4px;
 margin: 0;
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 18px;
 background:var(--color-primary);
 background-size: cover;
}
.container{
 width: 400px;
 max-width: 4000px;
 margin: 1rem;
 padding: 2rem;
 box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
 background: #ffffff;

}

.form-input-group{
 margin-bottom: 1rem;
}

.container,
.form-input,
.form-button{
 font: 500 1rem 'Quicksand', sans-serif;
}

.form-input{
 display: block;
 width: 100%;
 padding: 0.75rem;
 box-sizing: border-box;
 border-radius: var(--border-radius);
 border: 1px solid #dddddd;
 outline: none;
 background: eeeeee;
 transition: background 0.2s, border-color 0.2s
}
.form-input:focus{
 border-color: var(--color-primary);
 background: #ffffff;
}
.form:first-child{
 margin-top: 0;
}
.form:last-child{
 margin-bottom: 0;
}
.form-title{
 margin-bottom: 2rem;
 text-align: center;
}

.form-input-error{
 color:var(--color-error);
 border-color: var(--color-error);
}
.form-input-error-message{
 margin-top: 0.5rem;
 font-size: 0.85rem;
 color: var(--color-error);
}
.form-button{
 width: 100%;
 padding: 1rem 2rem;
 font-size: 1.1rem;
 color: #ffffff;
 border: none;
 border-radius: var(--border-radius);
 outline: none;
 cursor: pointer;
 background: var(--color-primary);
}
.form-button:active{
 transform:scale(0.98);
}
.form-text{
 text-align: center;
}
.form-link{
 text-decoration: none;
 cursor:pointer;
}
.form-link:hover{
 text-decoration: underline;  

}
.wrapper .sidebar{
   background: rgb(5, 68, 104);
   position: fixed;
   top: 0;
   left: 0;
   width: 225px;
   height: 100%;
   padding: 20px 0;
   transition: all 0.5s ease;
}
.wrapper .sidebar h2{
 text-align: center;
 color: white;
}
